{% load static %}

<!-- about section-->
<div id="about" class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{% static 'images/robots/Robot_Blue.svg' %}" alt="Robot Blue">
        </div>
        <div class="col-md-4 col-md-offset-4 text-right">ABOUT</div>
    </div>
</div>

<div class="container">
    <div id="about_line"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/WLogo_Square.svg' %}" alt="Wcoding Logo">
        </div>
        <div class="col-md-8">
            <section class="nanum">
                <h3 style="margin-top: 0px;">EXPLANATION ABOUT PROGRAMS //</h3>
                <p>군사재판을 관할하기 위하여 특별법원으로서 군사법원을 둘 수 있다. 대통령은 국가의 독립·영토의 보전·국가의 계속성과 헌법을 수호할 책무를 진다. 국가는 건전한 소비행위를 계도하고 생산품의 품질향상을 촉구하기 위한 소비자보호운동을 법률이 정하는 바에 의하여 보장한다. 국회는 국무총리 또는 국무위원의 해임을 대통령에게 건의할 수 있다.</p>
                <p>법관은 헌법과 법률에 의하여 그 양심에 따라 독립하여 심판한다. 모든 국민은 법률이 정하는 바에 의하여 납세의 의무를 진다. 국가유공자·상이군경 및 전몰군경의 유가족은 법률이 정하는 바에 의하여 우선적으로 근로의 기회를 부여받는다, 군사법원의 조직·권한 및 재판관의 자격은 법률로 정한다.</p>
            </section>
        </div>
    </div>

    <h2 class="text-center"><a href="#" id="meetTheTeam" data-hover="{MEET THE TEAM}">MEET THE TEAM</a></h2>
</div>
