{% load post_tags %}
{% load staticfiles i18n %}

<!-- about section-->
<div id="about" class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{% static 'images/robots/Robot_Blue.svg' %}" alt="Robot Blue">
        </div>
        <div class="col-md-4 col-md-offset-4 text-right">ABOUT</div>
    </div>
</div>

<div class="container">
    <div id="about_line"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/WLogo_Square.svg' %}" alt="Wcoding Logo">
        </div>
        <div class="col-md-8">
            <section class="nanum" style="margin-top: 4rem;">
                <p>{% trans "We believe Korea has some of the brightest, most talented people in the world. We are only held back by old conventional thinking that stifles creativity and innovation. Effective education does not come from leaving most students behind so that we can find best and pretend that we made them great. We think all students are great, and we want to help them find that potential. We want Korea to be a leader in the software industry. Will you join us?" %}</p>
            </section>
        </div>
    </div>

    <h2 class="text-center" id="meetTheTeam" data-hover="{ MEET THE TEAM }" style="cursor: pointer;">MEET THE TEAM</h2>
</div>

{% show_meet_the_teams as meet_the_teams %}
{% for meet_the_team in meet_the_teams %}
    <div class="container" id="showMeetTheTeam" style="display: none;">
        {{ meet_the_team.body|safe }}
    </div>
{% endfor %}
