{% load staticfiles %}

<!-- contact section -->
<div id="contact" class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{% static 'images/robots/Robot_Purple.svg' %}" alt="Robot Purple">
        </div>
        <div class="col-md-4 col-md-offset-4 text-right">CONTACT</div>
    </div>
</div>

<div class="container">
    <div id="contact_line"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h3 class="nanum" style="margin-top: 0px;">ABOUT CONTACT //</h3>
            <h4 class="nanum">주거에 대한 압수나 수색을 할 때에는 검사의 신청에 의하여 법관이 발부한 영장을 제시하여야 한다. 국가 및 법률이 정한 단체의 회계검사와 행정기관 및 공무원의 직무에 관한 감찰을 하기 위하여 대통령 소속하에 감사원을 둔다. 한 회계연도를 넘어 계속하여 지출할 필요가 있을 때에는 정부는 연한을 정하여 계속비로서 국회의 의결을 얻어야 한다, 모든 국민은 법률이 정하는 바에 의하여 선거권을 가진다.</h4>
            <br>
            <h4><span style="color: #541DD8;">CALL US: </span>&nbsp; 02 2923 8273</h4>
            <br>
            <h4><span style="color: #541DD8;">E-MAIL US: </span>&nbsp; INFO@WCODING.CO.KR</h4>
            <br>
            <h4><span style="color: #541DD8;">VISIT US: </span>&nbsp; 서울특별시 강남구 역삼동 두꺼비 빌딩 8층 801호</h4>
            <br>
            <h4 style="color: #541DD8; display: inline">WE ARE SOCIAL!</h4>

            <!-- facebook social_logo-->
            <a href="http://www.facebook.com" target="_blank"><img class="sociallink2 facebook_logo" src="{% static 'images/social_logo/FB_Gray.svg' %}" alt="facebook logo"
                                                                   onmouseover="facebookOnHover();" onmouseout="facebookOffHover();"></a>

            <!-- youtube social_logo-->
            <a href="http://www.youtube.com" target="_blank"><img class="sociallink2 youtube_logo" src="{% static 'images/social_logo/YT_Gray.svg' %}" alt="youtube logo"
                                                                  onmouseover="youtubeOnHover();" onmouseout="youtubeOffHover();"></a>

            <!-- naver social_logo -->
            <a href="http://www.naver.com" target="_blank"><img class="sociallink2 naver_logo" src="{% static 'images/social_logo/NV_Gray.svg' %}" alt="naver logo"
                                                                onmouseover="naverOnHover();" onmouseout="naverOffHover();"></a>

            <!-- instagram social_logo -->
            <a href="http://www.instagram.com" target="_blank"><img class="sociallink2 instagram_logo" src="{% static 'images/social_logo/IG_Gray.svg' %}" alt="instagram logo"
                                                                    onmouseover="instagramOnHover();" onmouseout="instagramOffHover();"></a>

            <br>

            <h4 style="color: #541DD8; display: inline">CONSULT WITH US!</h4>
            <h4 style="display: inline"><a id="online_consultation" href="#" data-hover="{ ONLINE CONSULTATION }">&nbsp; ONLINE CONSULTATION</a></H4>
        </div>

        <div class="col-md-7">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
