{% load staticfiles i18n %}

<!-- contact section -->
<div id="contact" class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{% static 'images/robots/Robot_Purple.svg' %}" alt="Robot Purple">
        </div>
        <div class="col-md-8 text-right">
            <h1 class="section-title">CONTACT</h1>
        </div>
    </div>

    <hr class="contact_section_line">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h4 class="nanum" style="margin-top: 0px; margin-bottom: 0px;">{% trans "Our doors are wide open to discuss and talk about all the programs that we provide. We also provide consulting about IT education, various study abroad plans and also working abroad as a software engineer. Please call us any time and we will help you set up a casual meeting with our experts." %}</h4>
            <br>
            <h4><span style="color: #541DD8;">CALL US: </span>&nbsp; 02 2923 8273</h4>
            <br>
            <h4><span style="color: #541DD8;">E-MAIL US: </span>&nbsp; INFO@WCODING.CO.KR</h4>
            <br>
            <h4><span style="color: #541DD8;">VISIT US: </span></h4>
                <h4>&nbsp;&nbsp;&nbsp;&nbsp;{% blocktrans  %}Wonchang bld Unit 501, 10 Seolleung-ro 72-gil, <br>&nbsp;&nbsp;&nbsp;&nbsp;Gangnam-gu, Seoul, South Korea{% endblocktrans %}</h4>
            <br>
            <h4 style="color: #541DD8; display: inline">WE ARE SOCIAL!</h4>

            <!-- facebook social_logo-->
            <a href="https://www.facebook.com/wcoding/" target="_blank"><img class="sociallink2 facebook_logo" src="{% static 'images/social_logo/FB_Gray.svg' %}" alt="facebook logo"
                                                                   onmouseover="facebookOnHover();" onmouseout="facebookOffHover();"></a>

            <!-- youtube social_logo-->
            <a href="https://www.youtube.com/channel/UCX9O03vi_b6hUzrj0RZ3HxA" target="_blank"><img class="sociallink2 youtube_logo" src="{% static 'images/social_logo/YT_Gray.svg' %}" alt="youtube logo"
                                                                  onmouseover="youtubeOnHover();" onmouseout="youtubeOffHover();"></a>

            <!-- naver social_logo -->
            <a href="http://wcoding.blog.me/" target="_blank"><img class="sociallink2 naver_logo" src="{% static 'images/social_logo/NV_Gray.svg' %}" alt="naver logo"
                                                                onmouseover="naverOnHover();" onmouseout="naverOffHover();"></a>

            <!-- instagram social_logo -->
            <a href="https://www.instagram.com/wcoding/" target="_blank"><img class="sociallink2 instagram_logo" src="{% static 'images/social_logo/IG_Gray.svg' %}" alt="instagram logo"
                                                                    onmouseover="instagramOnHover();" onmouseout="instagramOffHover();"></a>

            <br><br>

            <h4 style="color: #541DD8; display: inline">CONSULT WITH US!</h4>
            <h4 style="display: inline"><a id="online_consultation" href="#" data-hover="{ ONLINE CONSULTATION }">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% trans "ONLINE CONSULTATION" %}</a></H4>
        </div>

        <div class="col-md-7">
            <div id="map" style="width: 100%; height: 500px;">

            </div>
        </div>
    </div>
</div>

{% block javascript %}
    <script src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=3Vr9ItGNQ5RbRUEfYJyE&submodules=geocoder&callback=initMap"></script>
    <script>
        var map = null;
        var marker = null;

        function initMap() {
            var wcoding = new naver.maps.LatLng(37.500203, 127.052004)

            map = new naver.maps.Map('map', {
                center: wcoding,
                zoom: 10
            });

            marker = new naver.maps.Marker({
                map: map,
                position: wcoding
            });
        }
    </script>
{% endblock %}
