{% load staticfiles %}

<!-- main section -->

<div class="container">
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mainCarousel" data-slide-to="1"></li>
            <li data-target="#mainCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for main_window in main_windows|slice:":3" %}
            {# https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs#for #}
            <div {% if forloop.first %}class="item active"{% else %}class="item"{% endif %}>
                <a href="{{ main_window.get_absolute_url }}"><img src="{{ main_window.thumbnail_image.url }}"></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
