{% load staticfiles %}

<!-- NEWS & EVENTS section-->
<div id="news" class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{% static 'images/robots/Robot_Pink.svg' %}" alt="Robot Pink">
        </div>
        <div class="col-md-5 col-md-offset-3 text-right">NEWS & EVENTS</div>
    </div>
</div>

<div class="container">
    <div id="news_line"></div>
</div>

<div class="container">
    <!-- JULY events-->
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default news_main">
                <div class="panel-body">
                    <br><br><br><br>
                    <h1 style="margin: 0px;">JULY</h1>
                    <h1 style="margin-top: 0px;">EVENTS</h1>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="newsCarousel1" class="carousel slide">
                <!-- Carouse items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px;">TECH</h2>
                                        <h2 style="margin-top: 0px;">MONDAYS</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px;">SMART</h2>
                                        <h2 style="margin-top: 0px;">TOYS</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px;">SMART</h2>
                                        <h2 style="margin-top: 0px;">TOYS</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /item -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px;">TECH</h2>
                                        <h2 style="margin-top: 0px;">MONDAYS</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px;">SMART</h2>
                                        <h2 style="margin-top: 0px;">TOYS</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px;">SMART</h2>
                                        <h2 style="margin-top: 0px;">TOYS</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /item -->
                </div>
                <!-- /carousel-inner -->
                <a class="left carousel-control" href="#newsCarousel1" data-slide="prev"><</a>
                <a class="right carousel-control" href="#newsCarousel1" data-slide="next">></a>
            </div>
            <!-- /newsCarousel -->
        </div>
    </div>

    <!-- AUGUST event-->
    <div class="row">
        <div class="col-md-9">
            <div id="newsCarousel2" class="carousel slide">
                <!-- Carouse items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px">SUMMER</h2>
                                        <h2 style="margin-top: 0px">CODE</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px">SUMMER</h2>
                                        <h2 style="margin-top: 0px">CODE</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px">GOOGLE</h2>
                                        <h2 style="margin-top: 0px">X MASTERS</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /item -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px">SUMMER</h2>
                                        <h2 style="margin-top: 0px">CODE</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px">GOOGLE</h2>
                                        <h2 style="margin-top: 0px">X MASTERS</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="panel-default panel news_main">
                                    <div class="panel-body">
                                        <br><br><br><br><br>
                                        <h2 style="margin: 0px">GOOGLE</h2>
                                        <h2 style="margin-top: 0px">X MASTERS</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /item -->
                </div>
                <!-- /carousel-inner -->
                <a class="left carousel-control" href="#newsCarousel2" data-slide="prev"><</a>
                <a class="right carousel-control" href="#newsCarousel2" data-slide="next">></a>
            </div>
            <!-- /newsCarousel -->
        </div>

        <div class="col-md-3">
            <div class="panel panel-default news_main">
                <div class="panel-body">
                    <br><br><br><br>
                    <h1 style="margin: 0px;">AUGUST</h1>
                    <h1 style="margin-top: 0px;">EVENTS</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="nanum">
        <h4>EXPLATION ABOUT EVENTS //</h4>
        <p>각급 선거관리위원회의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 국민의 자유와 권리는 헌법에 열거되지 아니한 이유로 경시되지 아니한다. 국가는 사회보장·사회복지의 증진에 노력할 의무를 진다. 예비비의 지출은 차기국회의 승인을 얻어야 한다.</p>
        <p>대한민국의 주권은 국민에게 있고. 법관은 탄핵 또는 금고 이상의 형의 선고에 의하지 아니하고는 파면되지 아니하며. 모든 국민은 종교의 자유를 가진다, 대통령의 임기가 만료되는 때에는 임기만료 70일 내지 40일전에 후임자를 선거한다.</p>
        <br>
        <br>
    </section>
    <h2 class="text-center"><a href="#" id="seeAllNews" data-hover="{SEE ALL THE NEWS & EVENTS}">SEE ALL THE NEWS & EVENTS</a></h2>
</div>
