{% load staticfiles %}

<!-- programs section -->
<div id="programs" class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{% static 'images/robots/Robot_Green.svg' %}" alt="Robot Green">
        </div>
        <div class="col-md-4 col-md-offset-4 text-right">PROGRAMS</div>
    </div>
</div>

<div class="container">
    <div id="programs_line"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
           {% for class in regular_class|slice:":1" %}
                <img src="{{ class.image.url }}" height="230px" width="300px">
           {% endfor %}
        </div>

        <div class="col-md-4">
            {% for class in classes|slice:":1" %}
                <img src="{{ class.image.url }}" height="230px" width="300px">
            {% endfor %}

        </div>

        <div class="col-md-4">
            {% for camp in camps|slice:":1" %}
                <img src="{{ camp.image.url }}" height="230px" width="300px">
            {% endfor %}
        </div>
    </div>

    <section class="nanum">
        <p>{% trans "explanation progrmas section" %}</p>
    </section>

    <h1>BEST PICKS</h1>

    <div class="row">
        {% for best_pick in best_picks|slice:":4" %}
            <div class="col-md-3">
                <img src="{{ best_pick.image.url }}" height="230px" width="300px">
            </div>
        {% endfor %}
    </div>

    <section class="nanum">
        <p>{% trans "Learn to Code and English at the same time & Pick the course that intrigues you!" %}</p>

    </section>
    <h2 class="text-center"><a id="learnMore" href="#" data-hover="{ LEARN MORE }">LEARN MORE</a></h2>
</div>
