{% load staticfiles i18n %}

<!-- programs section -->
<div id="programs" class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{% static 'images/robots/Robot_Green.svg' %}" alt="Robot Green">
        </div>
        <div class="col-md-4 col-md-offset-4 text-right">PROGRAMS</div>
    </div>
</div>

<div class="container">
    <div id="programs_line"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br>
                    <h1>{% trans "Full-time" %}</h1>
                    <h1>{% trans "Course" %}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br>
                    <h1>{% trans "Part-time" %}</h1>
                    <h1>{% trans "Course" %}</h1>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br>
                    <h1>{% trans "Summer & Winter" %}</h1>
                    <h1>{% trans "Camp" %}</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="nanum">
        <p>{% trans "explanation progrmas section" %}</p>
    </section>

    <h1>BEST PICKS</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br><br>
                    <h1 style="margin: 0px;">방학</h1>
                    <h1 style="margin-top: 0px;">캠프</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br><br>
                    <h2 style="margin: 0px;">SEOUL</h2>
                    <h2 style="margin: 0px;">CAMPUS</h2>
                    <h2 style="margin-top: 0px;">CAMP</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br><br><br>
                    <h2>아두이노</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br><br><br>
                    <h2>라즈베리파이</h2>
                </div>
            </div>
        </div>
    </div>

    <section class="nanum">
        <p>{% trans "Learn to Code and English at the same time & Pick the course that intrigues you!" %}</p>

    </section>
    <h2 class="text-center"><a id="learnMore" href="#" data-hover="{ LEARN MORE }">LEARN MORE</a></h2>
</div>
