{% load static %}

<!-- programs section -->
<div id="programs" class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="{% static 'images/robots/Robot_Green.svg' %}" alt="Robot Green">
        </div>
        <div class="col-md-4 col-md-offset-4 text-right">PROGRAMS</div>
    </div>
</div>

<div class="container">
    <div id="programs_line"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br>
                    <h1>정규</h1>
                    <h1>과정</h1>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br>
                    <h1>단과</h1>
                    <h1>과정</h1>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br>
                    <h1>방학</h1>
                    <h1>캠프</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="nanum">
        <h4>EXPLANATION ABOUT PROGRAMS//</h4>
        <p>국가는 국민 모두의 생산 및 생활의 기반이 되는 국토의 효율적이고 균형있는 이용·개발과 보전을 위하여 법률이 정하는 바에 의하여 그에 관한 필요한 제한과 의무를 과할 수 있다, 현행범인인 경우와 장기 3년 이상의 형에 해당하는 죄를 범하고 도피 또는 증거인멸의 염려가 있을 때에는 사후에 영장을 청구할 수 있다. 국가는 법률이 정하는 바에 의하여 재외국민을 보호할 의무를 진다. 비상계엄하의 군사재판은 군인·군무원의 범죄나 군사에 관한 간첩죄의 경우와 초병·초소·유독음식물공급·포로에 관한 죄중 법률이 정한 경우에 한하여 단심으로 할 수 있다.</p>
        <p>동일한 범죄에 대하여 거듭 처벌받지 아니한다. 제3항의 승인을 얻지 못한 때에는 그 처분 또는 명령은 그때부터 효력을 상실한다. 그 재의를 요구할 수 있다, 정당의 목적이나 활동이 민주적 기본질서에 위배될 때에는 정부는 헌법재판소에 그 해산을 제소할 수 있고.</p>
    </section>

    <h1>BEST PICKS</h1>

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br><br>
                    <h1 style="margin: 0px;">방학</h1>
                    <h1 style="margin-top: 0px;">캠프</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br><br>
                    <h2 style="margin: 0px;">SEOUL</h2>
                    <h2 style="margin: 0px;">CAMPUS</h2>
                    <h2 style="margin-top: 0px;">CAMP</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br><br><br>
                    <h2>아두이노</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default programs_main">
                <div class="panel-body">
                    <br><br><br><br><br>
                    <h2>라즈베리파이</h2>
                </div>
            </div>
        </div>
    </div>

    <section class="nanum">
        <h4>BASIC CLOSING LINE //</h4>
        <p>탄핵결정은 공직으로부터 파면함에 그친다, 국가는 사회적·경제적 방법으로 근로자의 고용의 증진과 적정임금의 보장에 노력하여야 하며. 동일한 범죄에 대하여 거듭 처벌받지 아니한다. 법원의 내부규율과 사무처리에 관한 규칙을 제정할 수 있다.</p>
        <br>
        <br>
    </section>
    <h2 class="text-center"><a id="learnMore" href="#" data-hover="{ LEARN MORE }">LEARN MORE</a></h2>
</div>
