{% extends 'wcoding/base.html' %}

{% block title %}Posting systems test{% endblock %}

{% block content %}
    <div class="container">
        <h1>Post</h1>
        {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|safe|truncatewords:30|linebreaks }}
        {% endfor %}

        {% include "wcoding/post/pagination.html" with page='page' %}
    </div>


{% endblock content %}
