/* sociallink */
.sociallink1 {
    float: right;
    margin: 10px 20px;
    width: 1em;
    height: 1em;
}

.sociallink2 {
    margin: 20px;
    width: 1em;
    height: 1em;
}

/* navbar */
.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    border: 0;
    letter-spacing: 5px;
}

.navbar-brand{
    padding: 0px;
    height: 80px;
}

.navbar-brand>img {
    height: 100%;
    padding: 7px 15px;
    width: auto;
}

.nav >li >a {
    padding-top: 30px;
    padding-bootom: 30px;
}

.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}

/* navbar hover */
#about_hover:hover, .active #about_hover {
    background-color: transparent;
    background: #0055F2;
    background: -webkit-linear-gradient(left, #00B6F2, #0055F2);
    background: -o-linear-gradient(right, #00B6F2, #0055F2);
    background: -moz-linear-gradient(right, #00B6F2, #0055F2);
    background: linear-gradient(to right, #00B6F2, #0055F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 2px;
}

#programs_hover:hover, .active #programs_hover {
    background-color: transparent;
    background: #00FC4C;
    background: -webkit-linear-gradient(left, #02EAAB, #00FC4C);
    background: -o-linear-gradient(right, #02EAAB, #00FC4C);
    background: -moz-linear-gradient(right, #02EAAB, #00FC4C);
    background: linear-gradient(to right, #02EAAB, #00FC4C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 2px;
}

#news_hover:hover, .active #news_hover {
    background-color: transparent;
    background: #A50266;
    background: -webkit-linear-gradient(left, #ED2B66, #A50266);
    background: -o-linear-gradient(right, #ED2B66, #A50266);
    background: -moz-linear-gradient(right, #ED2B66, #A50266);
    background: linear-gradient(to right, #ED2B66, #A50266);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 2px;
}

#contact_hover:hover, .active #contact_hover {
    background-color: transparent;
    background: #541DA6;
    background: -webkit-linear-gradient(left, #541DD8, #541DA6);
    background: -o-linear-gradient(right, #541DD8, #541DA6);
    background: -moz-linear-gradient(right, #541DD8, #541DA6);
    background: linear-gradient(to right, #541DD8, #541DA6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 2px;
}

/* hover */
#meetTheTeam:hover {
    font-size: 0;
}

#meetTheTeam:hover::after {
    content: attr(data-hover);
    font-size: 30px;
    background-color: transparent;
    background: #0055F2;
    background: -webkit-linear-gradient(left, #00B6F2, #0055F2);
    background: -o-linear-gradient(right, #00B6F2, #0055F2);
    background: -moz-linear-gradient(right, #00B6F2, #0055F2);
    background: linear-gradient(to right, #00B6F2, #0055F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15em;
}

#seeAllNews:hover {
    font-size: 0;
}

#seeAllNews:hover::after {
    content: attr(data-hover);
    font-size: 30px;
    background-color: transparent;
    background: #A50266;
    background: -webkit-linear-gradient(left, #ED2B66, #A50266);
    background: -o-linear-gradient(right, #ED2B66, #A50266);
    background: -moz-linear-gradient(right, #ED2B66, #A50266);
    background: linear-gradient(to right, #ED2B66, #A50266);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#learnMore:hover {
    font-size: 0;
}

#learnMore:hover::after {
    content: attr(data-hover);
    font-size: 30px;
    background-color: transparent;
    background: #00FC4C;
    background: -webkit-linear-gradient(left, #02EAAB, #00FC4C);
    background: -o-linear-gradient(right, #02EAAB, #00FC4C);
    background: -moz-linear-gradient(right, #02EAAB, #00FC4C);
    background: linear-gradient(to right, #02EAAB, #00FC4C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.learnMore2:hover {
    font-size: 0;
}

.learnMore2:hover::after {
    content: attr(data-hover);
    font-size: 24px;
    color: #ffffff;
}

#online_consultation:hover {
    font-size: 0;
}

#online_consultation:hover::after {
    content: attr(data-hover);
    font-size: 18px;
    color: #541DD8;
}

/* main window*/

/*#main_window {*/
    /*position: relative;*/
    /*margin: 5em 0;*/
/*}*/

/*#main_box {*/
    /*position: absolute;*/
    /*height: 50rem;*/
    /*width: 70rem;*/
    /*background: #0055F2;*/
    /*background: -webkit-linear-gradient(left, #00B6F2, #0055F2);*/
    /*background: -o-linear-gradient(right, #00B6F2, #0055F2);*/
    /*background: -moz-linear-gradient(right, #00B6F2, #0055F2);*/
    /*background: linear-gradient(to right, #00B6F2, #0055F2);*/
    /*color: #ffffff;*/
    /*top: 50%;*/
    /*left: 30em;*/
    /*transform: translate(-50%, -50%);*/
/*}*/

/*.carousel-indicators-numbers li {*/
    /*text-indent: 0;*/
    /*margin: 0 2px;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*border: none;*/
    /*-webkit-border-radius: 100%;*/
    /*-moz-border-radius: 100%;*/
    /*border-radius: 100%;*/
    /*line-height: 30px;*/
    /*color: #ffffff;*/
    /*background-color: #999999;*/
    /*-webkit-transition: all 0.25s ease;*/
    /*transition: all 0.25s ease;*/
/*}*/

/*.carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover {*/
    /*margin: 0 2px;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*color: #000000;*/
    /*background-color: initial;*/
/*}*/

/*.carousel-indicators-numbers {*/
    /*top: 50px;*/
    /*left: 150px;*/
/*}*/

#mainCarousel {
    margin-top: 5em;
    margin-bottom: 5em;
}

/* about section */
#about_line {
    height: 3px;
    background: #0055F2;
    background: -webkit-linear-gradient(left, #00B6F2, #0055F2);
    background: -o-linear-gradient(right, #00B6F2, #0055F2);
    background: -moz-linear-gradient(right, #00B6F2, #0055F2);
    background: linear-gradient(to right, #00B6F2, #0055F2);
    margin-bottom: 2.5em;
}

#meetTheTeam {
    margin-left: 15em;
}

/* programs section */
#programs {
    margin-top: 5em;
}

#programs_line {
    height: 3px;
    background: #00FC4C;
    background: -webkit-linear-gradient(left, #02EAAB, #00FC4C);
    background: -o-linear-gradient(right, #02EAAB, #00FC4C);
    background: -moz-linear-gradient(right, #02EAAB, #00FC4C);
    background: linear-gradient(to right, #02EAAB, #00FC4C);
    margin-bottom: 2.5em;
}

.programs_main {
    background: #00FC4C;
    background: -webkit-linear-gradient(-45deg, #02EAAB, #00FC4C);
    background: -o-linear-gradient(-45deg, #02EAAB, #00FC4C);
    background: -moz-linear-gradient(-45deg, #02EAAB, #00FC4C);
    background: linear-gradient(-45deg, #02EAAB, #00FC4C);
    color: #ffffff;
}

/* NEWS section*/
#news {
    margin-top: 5em;
}

#news_line {
    height: 3px;
    background: #ED2B66;
    background: -webkit-linear-gradient(left, #ED2B66, #A50266);
    background: -o-linear-gradient(right, #ED2B66, #A50266);
    background: -moz-linear-gradient(right, #ED2B66, #A50266);
    background: linear-gradient(to right, #ED2B66, #A50266);
    margin-bottom: 2.5em;
}

.news_main {
    background: #ED2B66;
    background: -webkit-linear-gradient(-45deg, #ED2B66, #A50266);
    background: -o-linear-gradient(-45deg, #ED2B66, #A50266);
    background: -moz-linear-gradient(-45deg, #ED2B66, #A50266);
    background: linear-gradient(-45deg, #ED2B66, #A50266);
    color: #ffffff;
}

/* contact section */
#contact {
    margin-top: 5em;
}

#contact_line {
    height: 3px;
    background: #541DD8;
    background: -webkit-linear-gradient(left, #541DD8, #541DA6);
    background: -o-linear-gradient(right, #541DD8, #541DA6);
    background: -moz-linear-gradient(right, #541DD8, #541DA6);
    background: linear-gradient(to right, #541DD8, #541DA6);
    margin-bottom: 2.5em;
}

/* footer */
.footer_line {
    height: 3px;
    background: #FE6E00;
    background: -webkit-linear-gradient(left, #FE6E00, #FF593D);
    background: -o-linear-gradient(right, #FE6E00, #FF593D);
    background: -moz-linear-gradient(right, #FE6E00, #FF593D);
    background: linear-gradient(to right, #FE6E00, #FF593D);
    color: #ffffff;
}

/* bootstrap */
.navbar-default .navbar-text {
  color: #58595b;
}

.navbar-default .navbar-nav > li > a {
  color: #58595b;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #58595b;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #58595b;
}

.navbar-default .navbar-link {
  color: #58595b;
}

.panel {
    border: none;
    border-radius: 0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    -webkit-box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    -moz-box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-body {
    height: 230px;
    margin-right: 15px;
}

.panel-heading {
    border: none;
}

/*.carousel-control {*/
    /*padding-top: 15%;*/
    /*width: 5%;*/
/*}*/
#mainCarousel>.carousel-inner {
    height: 640px;
}

.carousel-inner {
    height: 230px;
}

.col-md-offset-4, .col-md-offset-3 {
    font-size: 65px;
    padding-top: 60px;
}

/* map */
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height: 600px;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.nanum {
    font-family: 'Nanum Gothic', sans-serif;
}

/* copyright*/
#copyright_container {
    position: relative;
}

#copyright {
    position: absolute;
    bottom: 5px;
    font-size: 5px;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;
    width: 180px;
}

#copyright a {
    color: #ffffff;
}

/* basic style */
body {
    font-size: 20px;
    color: #58595B;
    font-family: 'Dosis', sans-serif;
    background-image: url('../images/Background.jpg');
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;
}

hr {
    border-width: 3px;
}

a {
    outline: none;
    border: 0;
    color: #58595B;
}

a:hover {
    text-decoration: none;
}

footer {
    margin-top: 5em;
}

.nanum {
    margin-top: 5em;
}

/* nanum gothic google webfont*/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
